// Ant Design Components Reset


// Form Reset
.ant-form-item-label {
    line-height: 20.9999px;

    & > label::after {
        content: '';
    }
}

.ant-form-explain {
    font-size: 11px;
}

//Button Reset
.ant-btn {
    min-width: 100px;
    height: 35px;
}

//Input Reset
.ant-input {
    background: transparent;
}